SMTP_HOST=smtps.uhserver.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=contato@lithiumentertaiment.com.br
SMTP_PASS=troque-por-uma-senha-em-um-arquivo-.env-local
MAIL_TO=contato@lithiumentertaiment.com.br
PORT=3000
